*{
    padding: 0;
    margin: 0;
    
}
#navbar::before{
    content: "";
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
    opacity: 0.8;
}
#navbar{
    display: flex;
    position: relative;
    height: 60px;
}
.logo img{
    height: 40px;
    width: 40px;
    margin: 0px 9px;
    padding: 0px 6px;
    
} 
.logo{
    margin: 3px;
    padding: 5px;
}
.items{display: flex;
    align-items: center;
    justify-content: center;

}
.list{
    
  
    list-style: none;

}
.list a{
    text-decoration: none;
    padding: 3px 30px;
    margin: 2px 4px;
    border-radius: 8px;
    color: white;
}

.list a:hover {
    color:black;
    background-color: white;
}

.submenu{
    display: none;
    position: absolute;
}
.list:hover .submenu{
    display: block;
    margin-top: 4px;
    position: absolute;
    background-image: linear-gradient(120deg,#ffdbdb, #8ec9dc);
    border-radius: 15px;
    z-index: -1;
    opacity: 0.8;

}
.list:hover .submenu ul{
    display: block;
    margin: 10px;
}
.list:hover .submenu ul a{
    display: block;
}
.list:hover .submenu ul li{
    padding: 6px 0px;
    background: transparent;
    text-align: left;
}
.list:hover .submenu,  .submenu:hover {
    display: block;
    z-index: 3;
}



/* home */
.home::before{
    content: "";
    background: url("BEG.jpg") no-repeat center center/cover;
    position: absolute;
    top: 0;
    height: 30rem;
    width: 100%;
    z-index: -2;
    opacity: 0.8;

}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 26rem;
    color: white;
    text-align: center;
}


ul li,p,li a{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1.2rem;
}

/* #SERVICE */

.container{
    
    /* background-color: #9d9a9e; */
    background-image: linear-gradient(120deg,#ffdbdb, #8ec9dc);
    display: flex;
    align-items: stretch;
    /* justify-content: space-evenly; */
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}


.service h1{
    text-align: center;
}
.box{
    border: none;
    width:80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 18px;
    padding: 3px;
    margin: 36px;
    background-image: linear-gradient(
        120deg
        , white, #e8e8b4);
    box-shadow:1px 1px 20px #a5a4a4;
    height: auto;
}



.box:hover{
    transform: translateY(-20px);
    transition :0.5s;

}
.box  p{
    padding: 2px;
}

legend {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    color: #6f6666;


}
.box ul li{
    padding: 2px;
    margin: 2px;
    font-size: 20px;
}
.box h2{
    transition: 0.5s;
}


/* FOOTER */

footer{
    display: block;
}

.center{
    text-align: center;
}
footer{
    background-image:linear-gradient(120deg,#222f3e, #c8d6e5);
    color: white;
}
/* utilities */
.primary{
    font-size: 3.5rem;
    font-family: 'Ubuntu', sans-serif;
    padding: 3px;
    text-shadow: 2px 2px rgb(111, 80, 40);
    text-align: center;
}
.bton{
    width: 50%;
    border: 2px solid grey;
    border-radius: 25px;
    outline: none;
    font-size: 1.3rem;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    padding: 6px 9px;
    margin: 5px auto;
    box-shadow: 1px 1px 2px 1px rgb(111, 80, 40);
}
/* .secondary{ 
     font-family: 'Libre Franklin', sans-serif;
    font-size:  1.2rem;
} */
